# Data Science Tools and Ecosystem

## Author
Anna Lowe

In this notebook, Data Science tools and Ecosystem are summarized

**Objectives:**
* list popular languages for data science
* list commonly used libraries by data scientists
* list commonly used data science tools
* simple arithmetic examples

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries of Data Scientists include:


1.   Numpy
2.   Pandas
3.  MatplotLib
4. Scikit-Learn
5.  Tensorflow
6. Keras

| Data Science Tools |
|--------------------|
| Jupyter Lab / notebooks |
| Rstudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python:

This is a simple arithmetic expression to multiply then add integers.

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335